:root {
    --Rosa:#ec1163;
    --Verde:#b3d236;
    --Amarillo:#ffc60b;
    --Naranja:#f15a23;
    --Morado:#86318c;
    --Azul:#66cdcc;
}

#foo {
    color: var(--main-color);
}
body
{
  font-family:  'Manjari', sans-serif;
}
h1
{
  font-family: 'Manjari', sans-serif;
  color: white;
}
div{
  padding-top:3px;
}
.btn
{
  background-color: var(--Azul);
  width: 182px;
  color : white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  -webkit-transition-duration: 0.3s; /* Safari */
 }
 .color
{
  background-color: #ffff;
  border-color: #ffff;
  border-radius: 12px;
  width: 25px;
  height: 25px;
}
.color:hover
{
background-color: var(--Azul);
transition: .3s;
}
.color:checked
{
  border-radius: 12px;
  border-color: var(--Azul);
  border-width: medium;
  transition: .3s;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  width: 182px;

}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--Azul);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}


 /*border: 1px solid rgb(175, 216, 248);*/
